@media screen and (max-width: 1600px) {
  .gradient-block {
    &::before {
      height: 500px;
      width: 80%;
      filter: blur(440px);
    }
  }
  section:not(.hero) {
    padding-left: 75px;
    box-sizing: border-box;
  }

  .header__menu ul li a, .header__menu ul li svg text {
    font-size: 8px;
    line-height: 26px;
  }
  .header__menu ul {
    padding-right: 30px;
    padding-left: 60px;
  }
  .big-menu__content {
    padding: 2.5% 0;
  }
  .big-menu__column > span {
    font-size: 40px;
    line-height: 30px;
  }
  .big-menu__column > span::after {
    margin: 1.7563vw 0;
    width: 70px;
  }
  .big-menu__column {
    padding-right: 5%;
  }
  .big-menu__footer {
    padding: 30px 0;
  }
  .big-menu__address {
    padding-left: 6%;
  }
  .big-menu__column {
    width: 20%;
  }
  .big-menu__column--big {
    width: 60%;
  }
  .big-menu__column ul li a {
    font-size: 14px;
  }
  .big-menu__address a, .big-menu__address span {
    font-size: 16px;
  }
  .big-menu__address p {
    font-size: 16px;
  }
}
@media screen and (max-width: 1500px) {
  .our-offer {
    padding-top: 170px;
  }
  .our-teachers {
    padding-top: 150px;
  }
  .our-life {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .our-life__single {
    margin-bottom: 90px;
    .img {
      width: 520px;
      height: 676px;
    }
    &--big {
      .img {
        width: 830px;
        height: 460px;
      }
    }
    &--center {
      margin-top: 240px;
    }
  }
  .offer {
    margin-right: 6%;
    width: 47%;
  }
  .welcome__text p {
    font-size: 14px;
    line-height: 24px;
  }
  .teacher__left p{
    font-size: 14px;
    line-height: 24px;
  }
  .teacher__left {
    margin-right: 6%;
  }
}
@media screen and (max-width: 1400px) {
  .teacher__right .img {
    width: 380px;
    height: 510px;
  }
  .teacher-stats {
    margin-right: 35px;
  }
  .single-stat {
    margin-bottom: 40px;
  }
  .offer .img {
    width: 240px;
    height: 325px;
  }
}
@media screen and (max-width: 1200px) {
  .teacher__right .img {
    width: 315px;
    height: 420px;
  }
  .offer-text h3, .offer-text span {
    font-size: 14px;
    line-height: 22px;
  }
  .single-stat {
    margin-bottom: 21px;
  }
  .teacher__left {
    margin-right: 4%;
    .name {
      margin-bottom: 15px;
      padding-bottom: 15px;
    }
    span {
      font-size: 12px;
      line-height: 17px;
      strong {
        font-size: 9px;
        line-height: 16px;
      }
    }
  }
  .single-stat {
    span {
      font-size: 42px;
      line-height: 68px;
    }
    p {
      font-size: 9px;
      line-height: 16px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .offer .img {
    width: 200px;
    height: 275px;
  }
  .header__menu {
    display: none;
  }
  .header__container {
    justify-content: flex-end;
  }
  .title {
    font-size: 42px;
    line-height: 68px;
  }


}

@media screen and (max-width: 992px) {
  .single-teacher {
    flex-wrap: wrap;
  }
  .teacher__left {
    order: 1;
    margin-bottom: 35px;

  }
  .our-life__single .img {
    width: 100%;
  }
  .teacher__right {
    order: 2;
    flex-grow: 0;

  }
  .teacher-stats {
    order: 3;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    span {
      font-size: 50px;
      line-height: 65px;
    }
  }
  section:not(.hero) {
    padding-left: 0;
  }
  .offer-text {
    padding-right: 15px;
  }
  .offer-text h3, .offer-text span {
    font-size: 12px;
    line-height: 24px;
  }
  .our-offer {
    padding-top: 80px;
  }
  .welcome {
    margin-top: 80px;
  }
  .hero-content {
    padding-top: 55px;
    padding-bottom: 40px;
  }
  .hero__phones {
    display: none;
  }
  .mobile-header-contacts {
    display: flex;
  }
  .big-menu__content-center {
    flex-wrap: wrap;
  }
  .big-menu__column {
    width: 50%;
    padding-right: 6%;
  }
  .big-menu__column--big {
    width: 100%;
    padding-right: 0;
    margin-bottom: 60px;
  }
  .big-menu__address {
    padding-left: 0;
    padding-right: 30px;
  }
  .header-logo {
    display: block;
    margin-right: auto;
    margin-left: 0;
  }
  .header__left {
    border-right: none;
    padding: 0 35px 0 0;
    left: auto;
    bottom: auto;
    right: 0;
    z-index: 1;
  }
  .hero {
    height: auto;
  }
  .hero__main--home {
    justify-content: center;
    align-items: center;
  }
  .home-hero-block {
    padding-bottom: 5px;
    padding-top: 170px;

    p {
      font-size: 14px;
      line-height: 24px;
    }

    .home-hero-block__line {
      margin-top: 15px;

      p {
        em {
          font-size: 12px;
          line-height: 19px;
        }
      }
    }
  }
  .hero-block {
    padding-left: 0;
  }
  .header-container {
    padding: 20px 0;

    ul {
      display: none;
    }

    a {
      display: none;
    }
  }
  .header__top {
    padding: 8px 0;
    z-index: 1;
  }
  .search-container {
    padding: 12px 0;
  }
  .search-item {
    max-width: 480px;
  }
  .header__container {
    .btn {
      display: none;
    }
  }
  .search-opener {
    width: 38px;
    height: 38px;
    margin-right: 39px;
  }
}
@media screen and (max-width: 650px) {
  .teacher__left {
    order: 2;
  }
  .teacher__right {
    order: 1;
  }
}
@media screen and (max-width: 600px) {
  .big-menu__column > span::after {
    margin: 20px 0;
  }
  .big-menu__column {
    width: 100%;
    padding-right: 0;
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .big-menu__column--big {
    width: 100%;
    padding-right: 0;
    margin-bottom: 60px;
  }
  .home-hero-block {
    p {
      font-size: 12px;
      line-height: 20px;
    }

    .home-hero-block__line {
      margin-top: 5px;

      p {
        em {
          font-size: 11px;
          line-height: 17px;
        }
      }
    }
  }
  .big-menu__column>span {
    font-size: 34px;
    line-height: 24px;
  }
  .big-menu__address {
    width: 100%;
    p {
      font-size: 14px;
    }
    a, span {
      font-size: 14px;
    }
  }

  .mobile-header-contacts {
    padding: 0;
    .btn {
      width: 50%;
      flex-shrink: 0;
      &::after {
        background: $green;
      }
    }
  }
  .show-contacts {
    margin-left: 0;
    width: 50%;
    span {
      width: 100%;
    }
  }

}

@media screen and (max-width: 475px) {

}

@media screen and (max-width: 360px) {
  .play-btn {
    font-size: 8px;
    line-height: 8px;
  }
}
