@font-face {
    font-family: 'Parsi';
    src: url('../fonts/Parsi/Parsi-Light.eot');
    src: local('Parsi Light'), local('Parsi-Light'),
        url('../fonts/Parsi/Parsi-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Parsi/Parsi-Light.woff2') format('woff2'),
        url('../fonts/Parsi/Parsi-Light.woff') format('woff'),
        url('../fonts/Parsi/Parsi-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Parsi';
    src: url('../fonts/Parsi/Parsi-Bold.eot');
    src: local('Parsi Bold'), local('Parsi-Bold'),
        url('../fonts/Parsi/Parsi-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Parsi/Parsi-Bold.woff2') format('woff2'),
        url('../fonts/Parsi/Parsi-Bold.woff') format('woff'),
        url('../fonts/Parsi/Parsi-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Parsi';
    src: url('../fonts/Parsi/Parsi-Regular.eot');
    src: local('Parsi Regular'), local('Parsi-Regular'),
        url('../fonts/Parsi/Parsi-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Parsi/Parsi-Regular.woff2') format('woff2'),
        url('../fonts/Parsi/Parsi-Regular.woff') format('woff'),
        url('../fonts/Parsi/Parsi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

